// this is a dictionary for the rest of the application

$l_darkblue1: #4E4D56
$l_darkblue2: #47616F
$l_lightblue: #56C1DA
$l_gray1: #E2E3E5
$l_gray2: #EBECEF
$l_darkgray: #636363
$l_green: #32A89C
$l_purple: #7B489E
$l_orange: #EE9134
$l_yellow: #F7ED3E
$l_white: #FFFFFF