@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-size: 14px;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* remember to define focus styles! */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a:visited {
  color: #32a89c; }

a:hover {
  color: red; }

.container {
  margin: 20px auto;
  width: 80%; }

#navbar_list {
  margin: 20px auto;
  width: 80%; }

.banner {
  background-color: white;
  border-bottom: 1px solid #636363;
  color: #636363;
  font-weight: bold;
  height: 30px;
  font-size: 400%;
  margin: 0px 0px 14 px 0px;
  padding: 20px 0px 50px 0px;
  text-align: center;
  width: 94%; }

.introduction {
  border-bottom: 1px solid #636363;
  float: left;
  font-size: 120%;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 15px 0px;
  width: 94%; }

.left_col {
  float: left;
  margin-right: 60px;
  width: 50%; }

.each_row {
  float: left;
  padding: 0px 0px 10px 0px;
  width: 100%; }
  .each_row:hover {
    cursor: pointer;
    background-color: #ebecef; }

.details {
  float: left;
  margin: 2px 15px 2px 2px;
  width: 60px; }

.rankings {
  background-color: #e2e3e5;
  border-radius: 30px;
  color: #32a89c;
  font-size: 140%;
  font-weight: bold;
  height: 26px;
  text-align: center;
  padding: 14px 0px; }

.votes {
  font-size: 70%;
  padding: 25px 0px 4px 0px;
  text-align: left; }

.comments {
  font-size: 70%;
  padding: 2px 0px 4px 0px;
  text-align: left; }

.truth_section {
  float: left;
  margin: 2px auto;
  width: 80%; }

.truth_title {
  float: left;
  line-height: 1.5;
  color: #32a89c;
  font-size: 110%;
  font-weight: bold;
  padding: 0px 0px 5px 0px; }

.truth_author {
  float: left;
  font-style: italic;
  padding: 0px 0px 5px 0px;
  width: 100%; }

.truth_body {
  float: left;
  font-size: 110%;
  width: 100%; }

.col_title {
  color: #32a89c;
  font-size: 180%;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  text-align: center; }

.right_col {
  float: left;
  width: 30%;
  padding: 0px 0px 4px 20px; }
  .right_col #form_author_name {
    font-size: 80%;
    margin: 0px 0px 4px 0px; }
  .right_col #form_truth_title {
    font-size: 80%;
    margin: 0px 0px 4px 0px; }
  .right_col #form_truth_body {
    font-size: 80%;
    margin: 0px 0px 4px 0px; }
  .right_col #form_button {
    font-size: 80%;
    margin: 0px 0px 4px 0px; }

.field_labels {
  width: 100%; }

table {
  border-bottom: 1px solid #e2e3e5;
  width: 100%; }
  table tr td {
    padding: 2px 2px 2px 2px; }
  table tr #first_column_cell {
    padding: 0px 0px 0px 0px; }

.fieldset {
  padding: 2px 2px 2px 2px;
  width: 320px; }

.small_links {
  font-size: 70%; }
