#navbar
  %ul#navbar_list
    %li#home_tab= link_to "Home", :root
  //  %li#about_tab= link_to "About", "/about"

.container

  %title Should I Go to Law School? The Truth About Law School

  %h1#banner
    The Truth About Law School&nbsp;<span class="beta">BETA!</span>